{% extends "base.html" %}

{% load static %}
{% block head %}

<title>{% block title %} VLR | MARKETPLACE {% endblock %}</title>

<link rel="stylesheet" href="{% static 'VLR_APP/style.css' %}">
{% endblock %}

{% block content %}


    <h2>VISTAS</h2>
    <ul>
        <li><a href="{% url 'directivo-list' %}">Directivos</a></li>
        <li><a href="{% url 'client-list' %}">Clientes</a></li>
        <li><a href="{% url 'player-list' %}" >Jugadores</a></li>
        <li><a href="{% url 'team-list' %}" >Equipos</a></li>
        <li><a href="{% url 'anuncios-list' %}" >Anuncios</a></li>
        <li><a href="{% url 'coach-list' %}" >Entrenadores</a></li>

    </ul>

{% endblock %}
