{% extends "base.html" %}

{% load static %}
{% block title %}ANNOUNCEMENTS{% endblock %}
{% block content %}
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">ANNOUNCEMENTS</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Content-->
    <div class="row justify-content-center">
        {% for anuncio in object_list %}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="mx-auto">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                
                <div class="list-group">
                    <p class="flex-column align-items-start active">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ anuncio.title }}</h5>
                        <small>{{ anuncio.date }}</small>
                      </div>
                      <p class="mb-1">{{ anuncio.message }}</p>
                      <small>{{ anuncio.directivo.team }}</small>
                    </p>
                </div>
        </div>
    </div>
        {% endfor %}
        <div class="container container-fluid  justify-content-center w-100 p-3">
            <form class="form-inline justify-content-center" action="{% url 'vlr:search_ann' %}" method="get" >
                <input name="q" type="text" placeholder="Search...">
            </form>
        </div>
    </div>
</section>
{% endblock %}
