{% extends "base.html" %}
{% load static %}
{% block title %}TEAMS{% endblock %}
{% block content %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        {% if request.user.directivo and not request.user.directivo.team %}
        <a class="text-secondary mb-0 d-inline-block" href="{% url 'vlr:team-add' %}">Create your Team!</a>
        {% elif request.user.directivo.team %}
        <a class="text-secondary mb-0 d-inline-block" href="{% url 'vlr:team-update' request.user.directivo.team_id %}">Edit your Team!</a>
        <a class="text-secondary mb-0 d-inline-block" href="{% url 'vlr:team-delete' request.user.directivo.team_id %}">Delete your Team!</a>
        {% else %}
        <a class="text-secondary mb-0 d-inline-block" href="{% url 'vlr:directivo-add' %}">Create your Team!</a>
        {% endif %}
    </div>
        <!-- Portfolio Section Heading-->
        <div class="text-center">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">TEAMS</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            {% for team in object_list %}
            
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ forloop.counter0 }}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    {% if team.image %}
                   <img src="/media/{{ team.image }}" alt="Log Cabin" style="height: 238px; 
                   width: 100%; "/>
                   {% else %}
                   <img class="img-fluid" src="{% static 'VLR_APP/assets/img/portfolio/cabin.png' %}" alt="Log Cabin" style="height: 238px; 
                   width: 100%; "/>
                   {%endif %}
                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Portfolio Modal - Title-->
                                        <h2 class="portfolio-modal-title text-secondary mb-0">Tasty Cake</h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Portfolio Modal - Image-->{% if team.image %}
                                                                            <img src="/media/{{ team.image }}" alt="Log Cabin" style="height: 240px; width: 100%; "/>
                                                                        {% else %}
                                                                            <img class="img-fluid" src="{% static 'VLR_APP/assets/img/portfolio/cabin.png' %}" alt="Log Cabin"/>
                                                                        {%endif %}
                                        <!-- Portfolio Modal - Text-->
                                        <br>
                                        <p class="mb-5"><h2></h2>
                                            <ul>
                                                <li style="list-style: none"><b>Nombre:</b> {{ team.name }}</li>
                                                <li style="list-style: none"><b>Ciudad:</b> {{ team.city }}</li>
                                                <li style="list-style: none"><b>Fecha de fundación:</b> {{ team.foundation_date }}</li>
                                                <li style="list-style: none"><b>Información:</b> {{ team.info }}</li>
                                            </ul></p>
                                        <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% if request.user.directivo.team %}
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">YOURS TEAM</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Items-->
    
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal{{ forloop.counter5000 }}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            {% if request.user.directivo.team.image %}
           <img src="/media/{{ request.user.directivo.team.image }}" alt="Log Cabin" style="height: 238px; 
           width: 100%; "/>
           {% else %}
           <img class="img-fluid" src="{% static 'VLR_APP/assets/img/portfolio/cabin.png' %}" alt="Log Cabin" style="height: 238px; 
           width: 100%; "/>
           {%endif %}
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.counter5000 }}" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Tasty Cake</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->{% if request.user.directivo.team.image %}
                                                                    <img src="/media/{{ request.user.directivo.team.image }}" alt="Log Cabin" style="height: 240px; width: 100%; "/>
                                                                {% else %}
                                                                    <img class="img-fluid" src="{% static 'VLR_APP/assets/img/portfolio/cabin.png' %}" alt="Log Cabin"/>
                                                                {%endif %}
                                <!-- Portfolio Modal - Text-->
                                <br>
                                <p class="mb-5"><h2></h2>
                                    <ul class="text-dark">
                                        <li style="list-style: none"><b>Nombre:</b> {{ request.user.directivo.team.name }}</li>
                                        <li style="list-style: none"><b>Ciudad:</b> {{ request.user.directivo.team.city }}</li>
                                        <li style="list-style: none"><b>Fecha de fundación:</b> {{ request.user.directivo.team.foundation_date }}</li>
                                        <li style="list-style: none"><b>Información:</b> {{ request.user.directivo.team.info }}</li>
                                    </ul></p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
                <div class="row justify-content-center">
                    <button onclick="window.location.href='{% url 'vlr:team-list' %}';" class="btn btn-light btn-lg" role="button" aria-disabled="true">SEE MORE</button>
               </div>
            </div>
        </section>
    {% endif %}
{% endblock %}